# Data Cleaning and Preprocessing for Donor Information

This notebook focuses on cleaning and preprocessing donor data from the `combined_donor_info.csv` file. The objective is to handle missing values, reduce features that are mostly missing, and prepare the data for further analysis and machine learning tasks.

In [16]:
# Importing libraries 
# We will primarily use `pandas` for data manipulation and cleaning.
import pandas as pd

In [17]:
# Load the dataset
df = pd.read_csv('combined_donor_info.csv')

# Display the first few rows
df.head()

,Masked Account ID,Maked Primary Campaign,Stage,Account Type,Billing Zip/Postal Code,Fiscal Period,Close Date,Amount,ZCTA,Year,...,Public Transport,Worked from Home,Health Ins Pop,Health Ins,No Health Ins,Labor Population,Armed Forces,Employed,Unemployed,Not in Labor Force
0,1,NaN,Closed Won,Household,90069,Q3-2022,7/5/2022,200000.0,90069.0,2021.0,...,333.0,3432.0,20185.0,19509.0,676.0,19125.0,0.0,14080.0,1124.0,3921.0
1,1,NaN,Closed Won,Household,90069,Q3-2022,7/5/2022,200000.0,90069.0,2020.0,...,241.0,2589.0,20035.0,19339.0,696.0,19017.0,0.0,14119.0,910.0,3988.0
2,1,NaN,Closed Won,Household,90069,Q3-2022,7/5/2022,200000.0,90069.0,2019.0,...,266.0,1963.0,20230.0,19348.0,882.0,19254.0,0.0,14444.0,738.0,4072.0
3,1,NaN,Closed Won,Household,90069,Q3-2023,7/14/2023,200000.0,90069.0,2021.0,...,333.0,3432.0,20185.0,19509.0,676.0,19125.0,0.0,14080.0,1124.0,3921.0
4,1,NaN,Closed Won,Household,90069,Q3-2023,7/14/2023,200000.0,90069.0,2020.0,...,241.0,2589.0,20035.0,19339.0,696.0,19017.0,0.0,14119.0,910.0,3988.0

## Checking Data Types and Missing Values

We use `.info()` to examine the data types and number of non-null values for each feature, and `.describe()` for a statistical summary of numerical features. Additionally, we calculate the percentage of missing values in each column.

In [18]:
# Check the data types and non-null counts for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 0 to 6289
Data columns (total 87 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Masked Account ID                  6290 non-null   int64
 1   Maked Primary Campaign             4504 non-null   object
 2   Stage                              6290 non-null   object
 3   Account Type                       6290 non-null   object
 4   Billing Zip/Postal Code            5789 non-null   object
 5   Fiscal Period                      6290 non-null   object
 6   Close Date                         6290 non-null   object
 7   Amount                             6290 non-null   float64
 8   ZCTA                               5662 non-null   float64
 9   Year                               4780 non-null   float64
 10  Pop                                4780 non-null   float64
 11  Households                         4780 non-null   float64
 12  HH Income                          4780 non-null   float64
 13  Education Years                    4780 non-null   float64
 14  Minority %                         4780 non-null   object
 15  Poor %                             4780 non-null   object
 16  Poor Family %                      4780 non-null   object
 17  Car or Van %                       4780 non-null   object
 18  Public Transport %                 4780 non-null   object
 19  Health Ins %                       4780 non-null   object
 20  No Health Ins %                    4780 non-null   object
 21  Unemployed %                       4780 non-null   object
 22  Employed %                         4780 non-null   object
 23  Armed Forces %                     4780 non-null   object
 24  Not in Labor Force %               4780 non-null   object
 25  Under 10 %                         4780 non-null   object
 26  Under 35 %                         4780 non-null   object
 27  Over 65 %                          4780 non-null   object
 28  Over 85 %                          4780 non-null   object
 29  High school %                      4780 non-null   object
 30  College %                          4780 non-null   object
 31  0-50k %                            4780 non-null   object
 32  50-100k %                          4780 non-null   object
 33  100-150k %                         4780 non-null   object
 34  150-200k %                         4780 non-null   object
 35  200k+ %                            4780 non-null   object
 36  Minority                           4780 non-null   float64
 37  Under 10                           4780 non-null   float64
 38  Under 35                           4780 non-null   float64
 39  Over 65                            4780 non-null   float64
 40  Over 85                            4780 non-null   float64
 41  Male 10-14                         4780 non-null   float64
 42  Male 15-17                         4780 non-null   float64
 43  Male 18-19                         4780 non-null   float64
 44  Male 20                            4780 non-null   float64
 45  Male 21                            4780 non-null   float64
 46  Male 22-24                         4780 non-null   float64
 47  Male 25-29                         4780 non-null   float64
 48  Male 30-34                         4780 non-null   float64
 49  Female 10-14                       4780 non-null   float64
 50  Female 15-17                       4780 non-null   float64
 51  Female 18-19                       4780 non-null   float64
 52  Female 20                          4780 non-null   float64
 53  Female 21                          4780 non-null   float64
 54  Female 22-24                       4780 non-null   float64
 55  Female 25-29                       4780 non-null   float64
 56  Female 30-34                       4780 non-null   float64
 57  Ed Pop                             4780 non-null   float64
 58  Less than High School              4780 non-null   float64
 59  High school                        4780 non-null   float64
 60  GED                                4780 non-null   float64
 61  Some college to Associates Degree  4780 non-null   float64
 62  Bachelor's Degree or Higher        4780 non-null   float64
 63  $0-25k                             4780 non-null   float64
 64  $25-50k                            4780 non-null   float64
 65  $50-75k                            4780 non-null   float64
 66  $75-100k                           4780 non-null   float64
 67  $100-125k                          4780 non-null   float64
 68  $125-150k                          4780 non-null   float64
 69  $150-200k                          4780 non-null   float64
 70  $200k+                             4780 non-null   float64
 71  Poverty Pop                        4780 non-null   float64
 72  Poor                               4780 non-null   float64
 73  Poor Family                        4780 non-null   float64
 74  Transport Pop                      4780 non-null   float64
 75  Car or Van                         4780 non-null   float64
 76  Carpool                            4780 non-null   float64
 77  Public Transport                   4780 non-null   float64
 78  Worked from Home                   4780 non-null   float64
 79  Health Ins Pop                     4780 non-null   float64
 80  Health Ins                         4780 non-null   float64
 81  No Health Ins                      4780 non-null   float64
 82  Labor Population                   4780 non-null   float64
 83  Armed Forces                       4780 non-null   float64
 84  Employed                           4780 non-null   float64
 85  Unemployed                         4780 non-null   float64
 86  Not in Labor Force                 4780 non-null   float64
dtypes: float64(58), int64(1), object(28)
memory usage: 4.2+ MB

In [19]:
# Statistical summary of numerical columns
df.describe()

,Masked Account ID,Amount,ZCTA,Year,Pop,Households,HH Income,Education Years,Minority,Under 10,...,Public Transport,Worked from Home,Health Ins Pop,Health Ins,No Health Ins,Labor Population,Armed Forces,Employed,Unemployed,Not in Labor Force
count,6290.000000,6.290000e+03,5662.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,...,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000,4780.000000
mean,472.245628,4.872656e+03,86845.853762,2020.005858,28881.300418,12046.998326,111.919718,15.002583,9451.154603,2873.945816,...,783.567992,2134.437657,28770.460042,27127.008159,1643.451883,24276.261925,19.048954,15465.512134,900.946653,7890.754184
std,386.745184,1.102559e+05,14516.508915,0.817756,16938.925375,6997.016492,24.481824,1.851160,9997.166591,1880.665073,...,1799.634002,1447.170498,16841.919092,15401.362681,2108.157507,14425.163945,50.577627,9690.622819,717.243955,4827.012112
min,1.000000,-2.000000e+02,10002.000000,2019.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,133.000000,1.000000e+02,90046.000000,2019.000000,15292.000000,5887.000000,99.483534,14.783736,2555.000000,1524.000000,...,76.000000,1017.000000,15214.000000,14755.000000,529.000000,12641.250000,0.000000,7576.000000,356.000000,3924.000000
50%,359.000000,2.500000e+02,90074.000000,2020.000000,25988.000000,11775.000000,111.718232,15.497020,6354.500000,2932.000000,...,374.000000,1837.000000,25901.000000,25015.000000,807.500000,21542.000000,0.000000,14259.000000,762.000000,7203.000000
75%,777.750000,1.000000e+03,91031.000000,2021.000000,39755.000000,16375.000000,128.312519,15.917162,12812.000000,3747.000000,...,626.250000,3045.000000,39568.000000,35987.000000,2039.750000,32305.000000,21.000000,20221.000000,1234.000000,10126.000000
max,1321.000000,5.000029e+06,98607.000000,2021.000000,100225.000000,38263.000000,162.891641,16.751562,78022.000000,16452.000000,...,26134.000000,10835.000000,100146.000000,92505.000000,15502.000000,75511.000000,799.000000,55321.000000,4404.000000,34013.000000

In [20]:
# Percentage of missing values in each column
missing_values = df.isnull().mean() * 100
missing_values

Masked Account ID           0.000000
Maked Primary Campaign     28.394277
Stage                       0.000000
Account Type                0.000000
Billing Zip/Postal Code     7.965024
                             ...
Labor Population           24.006359
Armed Forces               24.006359
Employed                   24.006359
Unemployed                 24.006359
Not in Labor Force         24.006359
Length: 87, dtype: float64

In [21]:
## Identify Features with Too Many Missing Values
# Identify features with more than 80% missing values, which can potentially be removed since they do not provide much useful information.
features_to_consider_removing = missing_values[missing_values > 80].index.tolist()
features_to_consider_removing

[]

## Handling Missing Data

For categorical features, we fill missing values with the mode (most frequent value). For numerical features, we use the median to replace missing values to avoid the impact of outliers.

In [25]:
# Create a copy of the original DataFrame for cleaning
df_copy = df.copy()

# Fill missing values appropriately
for column in df_copy.columns:
    if df_copy[column].dtype == 'object':  # Categorical data
        # Fill missing values with mode for categorical data
        df_copy[column] = df_copy[column].fillna(df_copy[column].mode()[0])
    else:  # Numerical data
        # Fill missing values with median for numerical data
        df_copy[column] = df_copy[column].fillna(df_copy[column].median())

In [26]:
# Verify if all missing values are handled
missing_values = df_copy.isnull().mean() * 100
missing_values

Masked Account ID          0.0
Maked Primary Campaign     0.0
Stage                      0.0
Account Type               0.0
Billing Zip/Postal Code    0.0
                          ...
Labor Population           0.0
Armed Forces               0.0
Employed                   0.0
Unemployed                 0.0
Not in Labor Force         0.0
Length: 87, dtype: float64

In [24]:
# Additional Notes from Maker Day 10.5.24
# count how many missing values in each column compared to total in different row
# user - row
# column - feature
# if 80% of users didn't have feature info, can reduce


# if too many missing values - may remove feature altogether

# kmeans clustering, see if features are similar & try to make predictions
# missing values - mean, mode, median - depends on how data looks like

# look @ each column, try to preprocess it :) :(((
# find numbers and see what want to remove

# pca - reduces number of features (dimensionaliy reduction)